*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
body{
    min-height: 100vh;
    font-family: sans-serif;
    position: relative;
    background-color: hsl(217, 100%, 97%);
}
.title{
    font-size: 3.4rem;
    font-weight: 700;
    color:hsl(213, 96%, 18%);
    padding-bottom: 5px;
}
html{
    font-size: 70%;
}
.describe{
    color:hsl(231, 11%, 63%);
    font-size: 1.6rem;
    font-weight: 400;
    padding-bottom: 30px;
}
.sub{
    color:hsl(229, 24%, 87%);
    font-size: 1.4 rem;
    font-weight: 400;
    padding-bottom: 2px;
}
.mini{
    color: white;
    font-weight: 500;
    text-transform: uppercase;
}
.main{
 max-width: 1050px;
 min-height: 100vh;
 width: 100%;
 margin: 0 auto;
 display: flex;
 align-items: center;
 justify-content: center;
 place-self: center;
 background-color:hsl(217, 100%, 97%);
}
.steps-container{
    width: 100%;
    display: grid;
    grid-template-columns: 290px 1fr;
    gap: 25px;
    min-height: 600px;
    background-color: white;
    padding: 15px;
}
.side-left{
    width: 100%;
    border-radius: 10px;
    grid-column-start: 1;
    grid-column-end: 2;
    background: url('./assets/images/bg-sidebar-desktop.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 30px 20px;
    margin-right: auto;
}
.stepi{
    display: flex;
    align-items: center;
    padding-bottom: 30px;
}
.num{
    border: 1px solid hsl(229, 24%, 87%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: hsl(229, 24%, 87%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 1.4rem;
    margin-right: 15px; 
    
}
 
.container{
  grid-column-start: 2;
  grid-column-end: 3;
  padding-top: 25px;
  padding-right: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.list{
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
}
.input-label{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 5px;
}
.label{
    color:hsl(213, 96%, 18%);
    font-weight: 500;
}
.input{
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid hsl(231, 11%, 63%);
    border-radius: 5px;
    width: 100%;
    font-weight: 500;
    color: hsl(213, 96%, 18%);
    font-size: 1.2rem;
}
.input:hover {
    border-color:hsl(228, 100%, 84%);
    transition: 0.25s;
    cursor: pointer;
  }
#btn{
    width: 15%;
    border-radius: 5px;
    font-weight: 500;
    background-color: hsl(213, 96%, 18%);
    color: white;
    height:5vh;
    font-size: 1.2rem;
    font-weight: 600;
    margin-left: 405px;
}
.card{
  border: 2px solid hsl(229, 24%, 87%);
  border-radius: 10px;
  padding: 15px;
  cursor: pointer;
  transition: 0.3s;
}
.card-price {
    color:hsl(231, 11%, 63%);
    font-weight: 500;
  }
  
.card-name {
    color:hsl(213, 96%, 18%);
    font-weight: 700;
    text-transform: capitalize;
    font-size: 1.8rem;
    margin-bottom: 2px;
  }

.plan-card-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    padding-bottom: 10px;
    min-height: 200px;
  }
.plan-card{
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 20px;
}
.plan-card > .card-img {
    margin-bottom: auto;
    width: 45px;
    height: 45px;
    margin-right: 25px;
  }
  .toggle__container {
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background-color: hsl(217, 100%, 97%);
    font-weight: 700;
    margin-bottom: 30px;
  }
  
  .toggle__container > p {
    color:hsl(213, 96%, 18%);
    font-weight: 500;
  }
  
  .toggle {
    width: 40px;
    height: 20px;
    border-radius: 15px;
    margin: 5px 0;
    background-color:hsl(213, 96%, 18%);
    display: flex;
    align-items: center;
    margin: 0 12px;
    transition: 0.25s;
    cursor: pointer;
  }
  
  .toggle__circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 0 2px;
    background-color: white;
  }
  #but{
    padding: 10px 10px;
    cursor: pointer;
    font-weight: 300;
    font-size: 16px;
    background-color: white;
    border-style: none;
    color: hsl(231, 11%, 63%);
    margin-left: 30px;
  }
  .last__step {
    /* min-height: 100%; */
    text-align: center;
  }
  
  .final__img {
    width: 100px;
    height: 100px;
    margin-top: 20%;
    margin-inline: auto;
    margin-bottom: 35px;
  }
  
  .last__step > .title {
    padding-bottom: 10px;
  }
  
  .last__step > .describe {
    max-width: 500px;
    margin: 0 auto;
  }
  .all{
    display: none;
  }
  #step-2{
    display: none;
  }
  #thank-you{
    display: none;
  }